
/*Target all elements*/
input, select {
    border-radius: 5px;
    border: 1px solid #ccc;
}

input {
    height: 20px;
}

select {
    height: 23.5px;
}

/* Beam Properties section*/
.form-flex {
    display: flex;
    flex-direction: row;
}

.form-flex .container {
    flex:1;
}

.form-flex .container .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-flex .container .wrapper input {
    flex: 1;
}

.form-flex  .container .wrapper .select {
    flex: 1;
}


/* Support,force and visualisation sectoin */

.split-section{
    display: flex;
}

.vertical-split-section{
    flex: 1;
    display:flex;
    flex-direction: column;
}


.support-section, .force-section{
    flex:1;
    background-color: white;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.visualisation {
    flex: 2;
    background-color: aqua;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Support Section */

.support-section .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.support-section .wrapper input {
    flex: 1;
}

.support-section button {
    height: 23.5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Force Section */

.force-section button {
    height: 23.5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.force-section .wrapper input {
    flex: 1;
}

.force-section .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}